html{
    border-left: 5px;
    color: lightgray;
}
#root{
    min-height: 100vh;
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}
header,main,footer{
    padding: 1rem 2rem;
}
article{
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}
h1{
    color: tomato;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.headerUl>li>a{
    color: lightgray;
}
.footerUl>li>a{
    color:tomato;
}
article p::first-letter{
    color: lightgray;
    font-size: 24px;
    float: left;
}
.continues{
    float: right;
    color: tomato;
    font-weight: bolder;
    text-decoration: none;
    align-self: flex-end;
}
#copyRight{
    float:left;
}